/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

/* Imagem de fundo com sombra */
body {
    background-image: url('./img/imagemIgreja.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Retângulo com sombra (overlay) */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Cor preta com opacidade */
    z-index: 1; /* Faz com que o overlay fique abaixo da caixa de diálogo */
}

/* Caixa de diálogo */
.dialogo {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 500px;
    z-index: 2000;
    display: none;
    text-align: center;
}

.dialogo p {
    font-size: 18px;
    margin-bottom: 15px;
}

.dialogo button {
    margin-top: 10px;
    padding: 8px 20px;
    background: orange;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos do botão Finalizar */
#finalizarBtn {
    font-size: 20px;
    padding: 8px 20px;
    background-color: #FF4500;
    border: 2px solid #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#finalizarBtn:hover {
    background-color: #FF6347;
}

.key {
    display: inline-block;
    padding: 2px 8px;
    border: 2px solid #333;
    border-radius: 6px;
    background-color: #eee;
    font-family: monospace, monospace;
    font-weight: bold;
    color: #333;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    user-select: none;
}

#fade-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
    z-index: 9999;
}

#fade-screen.active {
    opacity: 1;
    pointer-events: all;
}
